
.header{
    background-image: url(../images/flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100%;
}
#form{
    /* padding-top: 200px; */
    padding-bottom:200px;
     
    text-align: center;
}
#part{
    text-align: center;
    padding-top:150px;
    color: red;
}